#outter {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 3rem;
    text-align: center;
    border-radius: 1rem;
}

#text {
    color: white;
    background-color: rgb(58, 58, 58);
    width: 100%;
    box-shadow: 0 -5px 16px rgb(58, 58, 58);
}

#image {
    height: 300px;
    width: 100%;
    object-position: center center;
    object-fit: cover;
}

#title {
    font-size: 1.75rem;
    font-weight: 600;
}